@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

:root {
    --zen-family: 'Zen Tokyo Zoo', cursive;
    --hand-family: 'Gochi Hand', cursive;

    --primary: #121312;
    --secondary: #7192D5;
    --tiertary: #ECECEC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: var(--tiertary);
}

body {
    background-color: var(--primary);
    color: var(--tiertary);
    height: 100vh;
    width: 100vw;
}