div.container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    height: 100vh;
    width: 100vw;

    div.mouseContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        position: absolute;
        bottom: .7rem;

        img.scrollMouse {
            margin: .8rem;
        }

        h3 {
            font-family: var(--hand-family);
            text-transform: uppercase;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}